@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline" asp-action="SignOutPage1"
          asp-controller="Account">
        Welcome @User.Identity.Name
        <button type="submit" class="ml-2 btn btn-link" >LogOut</button>

    </form>
}
else
{
    <a class="btn btn-link" asp-action="Login" asp-controller="Account">LogIn</a>
}